.about-hero{

    padding:100px 0;

    background:linear-gradient(135deg,#f8fbff,#eef6ff);

}

.about-tag{

    display:inline-block;

    background:#0d6efd;

    color:#fff;

    padding:8px 18px;

    border-radius:30px;

    margin-bottom:20px;

}

.about-hero h1{

    font-size:52px;

    font-weight:700;

    line-height:1.2;

}

.about-hero h1 span{

    color:#0d6efd;

}

.about-hero p{

    margin:30px 0;

    color:#666;

    line-height:30px;

}

.btn-about{

    display:inline-block;

    background:#0d6efd;

    color:#fff;

    text-decoration:none;

    padding:14px 32px;

    border-radius:40px;

    transition:.3s;

}

.btn-about:hover{

    background:#084298;

    color:#fff;

}

.about-image{

    max-height:520px;

}

.about-story{

    padding:90px 0;

}

.about-story h2{

    margin-bottom:25px;

}

.about-story p{

    line-height:30px;

    color:#666;

}

.about-stats{

    background:#0d6efd;

    color:#fff;

    padding:70px 0;

}

.about-stats h2{

    font-size:42px;

    font-weight:700;

}

.why-us{

    padding:90px 0;

}

.why-card{

    background:#fff;

    border-radius:20px;

    padding:35px;

    text-align:center;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.3s;

    height:100%;

}

.why-card:hover{

    transform:translateY(-8px);

}

.icon{

    font-size:55px;

    margin-bottom:20px;

}

.about-cta{

    padding:90px 0;

    background:#f8f9fa;

}

.about-cta h2{

    margin-bottom:20px;

}