<nav class="navbar navbar-expand-lg custom-navbar fixed-top">

    <div class="container">

        <!-- Logo -->

        <a class="navbar-brand logo" href="/">
            <i class="bi bi-image-fill"></i>
            Memory <span>Tales</span>
        </a>

        <!-- Mobile Toggle -->

        <button class="navbar-toggler border-0 shadow-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNavbar">

            <i class="bi bi-list fs-2"></i>

        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">

            <!-- Center Menu -->

            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>

                <li class="nav-item dropdown mega-dropdown">

    <a class="nav-link dropdown-toggle"
        href="#"
        data-bs-toggle="dropdown">

        Categories

    </a>

    <div class="dropdown-menu mega-menu">

        <div class="row">

            <div class="col-lg-4">

                <h6>Wall Decor</h6>

                <a href="#">Canvas Prints</a>

                <a href="#">Photo Frames</a>

                <a href="#">Acrylic Prints</a>

                <a href="#">Wall Collage</a>

            </div>

            <div class="col-lg-4">

                <h6>Photo Gifts</h6>

                <a href="#">Coffee Mug</a>

                <a href="#">Magic Mug</a>

                <a href="#">Cushion</a>

                <a href="#">Keychain</a>

            </div>

            <div class="col-lg-4">

                <h6>Albums & More</h6>

                <a href="#">Photo Album</a>

                <a href="#">Calendars</a>

                <a href="#">Greeting Cards</a>

                <a href="#">Corporate Gifts</a>

            </div>

        </div>

    </div>

</li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Bulk Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Track Order</a>
                </li>

            </ul>

            <!-- Right -->

            <div class="navbar-right d-flex align-items-center">

                <div class="search-box">

                    <i class="bi bi-search"></i>

                    <input
                        type="text"
                        placeholder="Search Products">

                </div>

                <a href="#" class="icon-btn">

                    <i class="bi bi-heart"></i>

                </a>

                <a href="#" class="icon-btn position-relative">

                    <i class="bi bi-cart3"></i>

                    <span class="cart-count">

                        0

                    </span>

                </a>

                <a href="#" class="login-btn">

                    Login

                </a>

                <a href="#" class="theme-btn">

                    Customize Now

                </a>

            </div>

        </div>

    </div>

</nav>