<div class="price-card">

    <div class="price-row">

        <span>

            Base Price

        </span>

        <strong>

            ₹<span id="basePrice">

                {{ product.base_price }}

            </span>

        </strong>

    </div>

    <div class="price-row">

        <span>

            Customization

        </span>

        <strong>

            ₹<span id="optionPrice">

                0.00

            </span>

        </strong>

    </div>

    <div class="price-row">

        <span>

            Quantity

        </span>

        <strong>

            <span id="qtyText">

                1

            </span>

        </strong>

    </div>

    <hr>

    <div class="price-row total">

        <span>

            Total

        </span>

        <strong>

            ₹<span id="productPrice">

                {{ product.base_price }}

            </span>

        </strong>

    </div>

</div>