{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}
{{ page_title }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'catalog/css/product-list.css' %}">
{% endblock %}

{% block content %}

<!-- Breadcrumb -->

<section class="breadcrumb-section">

    <div class="container">

        <nav>

            <a href="{% url 'home' %}">

                Home

            </a>

            /

            <span>

<h2>{{ page_title }}</h2>
            </span>

        </nav>

    </div>

</section>


<section class="product-list-section py-5">

    <div class="container">

        <div class="row">

            <!-- LEFT SIDEBAR -->

            <div class="col-lg-3">

                <div class="filter-box">

                    <h4>

                        Filters

                    </h4>

                    <hr>

                    <!-- Categories -->

                    <h6>

                        Categories

                    </h6>

                    {% for category in categories %}

                    <div class="form-check">

                        <!-- <input
                            class="form-check-input"
                            type="checkbox"
                        > -->

                        <label class="form-check-label">

                

<a
    href="#"
    class="category-filter {% if selected_category == category.slug %}active-category{% endif %}"
    data-category="{{ category.slug }}"
>

    <span>

        {{ category.name }}

    </span>

    <span class="badge bg-primary">

        {{ category.product_count }}

    </span>

</a>

                        </label>

                    </div>

                    {% endfor %}

                    <hr>

                    <h6>Price</h6>

<div class="row">

    <div class="col-6">

    

        <input
    type="number"
    id="minPrice"
    class="form-control"
    min="0"
    step="1"
    placeholder="Min"
>

    </div>

    <div class="col-6">

       <input
    type="number"
    id="maxPrice"
    class="form-control"
    min="0"
    step="1"
    placeholder="Max"
>

    </div>

</div>

<div class="d-grid gap-2 mt-3">

    <button
        class="btn btn-primary"
        id="priceFilterBtn"
    >
        Apply Filter
    </button>

    <button
        class="btn btn-outline-secondary"
        id="clearFilterBtn"
    >
        Clear Filter
    </button>

</div>

                    <hr>

                    <h6>

                        Availability

                    </h6>

                    <div class="form-check">

                        <input
                            class="form-check-input"
                            type="checkbox"
                        >

                        <label>

                            In Stock

                        </label>

                    </div>

                </div>

            </div>


            <!-- RIGHT -->

          <div class="col-lg-9">

    {% include "catalog/components/product-content.html" %}

</div>

        </div>

    </div>

</section>

{% endblock %}
{% block extra_js %}

<script src="{% static 'catalog/js/product-list.js' %}"></script>

{% endblock %}